button {
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
    border-color: lightblue;
}
input{
    padding: 10px;
    margin: 5px;
    background-color: lightblue;
    border-color: lightblue;  
}